.white {
  text-decoration: none;
  color: white;
  padding: 5px 0;
  margin-left: 20px;
  transition: 0.5s;
  &:hover {
    color: #961402;
    border-bottom: 1px solid #961402;
  }
}

.navbar-links {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
