.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.white {
  text-decoration: none;
  color: white;
  padding: 5px 0;
  transition: 0.2s;
  &:hover {
    color: #961402;
  }
}
