.white {
  text-decoration: none;
  color: white;
  padding: 5px 0;
  margin-left: 20px;
  transition: 0.4s;
  &:hover {
    color: #961402;
  }
}

.black {
  background-image: url('black.jpg');
  display: flex;
  justify-content: space-around;
  padding: 8px 6% 8px 0;
}
