// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.black {
  background-image: url('black.jpg');
  background-repeat: repeat;
  background-position: cover;
  color: white;
}

.main-img {
  height: 88vh;
}

.welcome-text {
  padding: 20px 0;
}

.home-header {
  border-left: 1px solid rgba(255,255,255,0.28);
  padding: 25px;
  margin: 50px 0 70px 0;
  h1 {
    padding: 20px 0;
    line-height: 55px;
    font-size: 44px;
  }
  h2 {
    margin: 0;
    padding: 18px 0;
  }
  p {
    text-align: justify;
  }
}

.col-8 {
  padding-left: 0;
}

.make-your-own {
  margin-top: 50px;
  height: 70vh;
}
